body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
background:#000;
position:sticky;
top:0;
}

.logo{
height:60px;
}

.menu a{
color:#c8a045;
margin-left:20px;
text-decoration:none;
}

.hero{
height:100vh;
background:
linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.8)
),
url("../assets/jersey.png");
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-logo{
width:180px;
}

.hero h1{
font-size:60px;
color:#c8a045;
}

.hero h2{
font-size:32px;
}

.btn{
display:inline-block;
padding:15px 30px;
background:#c8a045;
color:black;
text-decoration:none;
border-radius:6px;
}

.section-title{
text-align:center;
margin-top:50px;
color:#c8a045;
}

.kit-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));
gap:30px;
padding:40px;
}

.card{
background:#111;
padding:20px;
border-radius:10px;
}

.card img{
width:100%;
border-radius:10px;
}

form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
padding:30px;
}

input,textarea{
padding:15px;
border:none;
border-radius:5px;
}

button{
padding:15px;
background:#c8a045;
border:none;
font-weight:bold;
cursor:pointer;
}
